{
   "id": "aje244298b2gdvctoggm",
   "service_account_id": "ajem8m1e6vagfbuched7",
   "created_at": "2023-09-10T22:49:23.654766142Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\n121212xx434345x\n-----END PUBLIC KEY-----\n",
   "private_key": "-----BEGIN PRIVATE KEY-----\n3343434x34x3x4\n-----END PRIVATE KEY-----\n"
}