cloud_id                 = "someid"
folder_id                = "someid"
zone                     = "zone"
public_key_path          = "pubkeypath"
private_key_path         = "privatekeypath"
image_id                 = "someid"
subnet_id                = "someid"
service_account_key_file = "somekey.json"