cloud_id                 = "bdd6"
folder_id                = "t761"
zone                     = "ru-central1-a"
image_id                 = "ssss"
public_key_path          = "user.yaml"
subnet_id                = "tqln"
service_account_key_file = "key.json.example"
privite_key              = "appuser"